:root {
    --primary: #F5F0BB;
    --secondary: #C4DFAA; 
    ---info: #90C8AC;
    --contrast: #73A9AD;
}

body{
    margin: 0;
    font-family:'Karla', sans-serif;
    background-color: var(--contrast);
}



div{
    padding: 10px 0px 10px 0px;
    border: 1px solid var(--secondary);
    background-color: var(--contrast);
    color: var(--secondary);
}
